<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<section name="web.ruleAuthorization" type="Backend.Authorization.Config.RuleAuthorizationConfigurationSectionHandler, Backend"/>
		<section name="web.authorization" type="Backend.Authorization.Config.AuthorizationConfigurationSectionHandler, Backend"/>
    <section name="web.file.path" type="Backend.Utilities.FilePath.FilePathConfigurationSectionHandler, Backend"/>
	</configSections>
	<connectionStrings>       
        <add name="ConnString" connectionString="server=.\JOE;database=WuLiu;uid=sa;pwd=joe;" />
        <!--<add name="ConnString" connectionString="server=192.168.1.108\JOE;database=WuLiu;uid=sa;pwd=joe;" />-->
  </connectionStrings>
	<system.web>    
    <pages validateRequest="false">
      <controls>
        <add assembly="Backend" namespace="Backend.WebControls" tagPrefix="wl" />
        <add assembly="Backend" namespace="Backend.Utilities" tagPrefix="wl"/>

        <add  src="~/Controls/Header.ascx" tagName="Header" tagPrefix="wl" />
        <add  src="~/Controls/HeaderClient.ascx" tagName="HeaderClient" tagPrefix="wl" />
        <add  src="~/Controls/Seo.ascx" tagName="Seo" tagPrefix="wl" />
        <add  src="~/Controls/Footer.ascx" tagName="Footer" tagPrefix="wl" />
        <add  src="~/Controls/Right.ascx" tagName="Right" tagPrefix="wl" />
        <add src="~/Controls/Left.ascx" tagName="Left" tagPrefix="wl"/>
        <add src="~/Controls/Announcement.ascx" tagName="Announcement" tagPrefix="wl"/>
        <add src="~/Controls/ClientTop.ascx" tagName="ClientTop" tagPrefix="wl"/>

        <add  src="~/Admin/Controls/WebSettingNavigation.ascx" tagName="WebSettingNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/ClientNavigation.ascx" tagName="ClientNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/UserNavigation.ascx" tagName="UserNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/CompanySettingNavigation.ascx" tagName="CompanySettingNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/PostSettingNavigation.ascx" tagName="PostSettingNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/OperatorNavigation.ascx" tagName="OperatorNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/OrderNavigation.ascx" tagName="OrderNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/FinanceNavigation.ascx" tagName="FinanceNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/DataQueryNavigation.ascx" tagName="DataQueryNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/StatisticNavigation.ascx" tagName="StatisticNav" tagPrefix="wl" />

        <add  src="~/Admin/Controls/PersonalNavigation.ascx" tagName="PersonalNav" tagPrefix="wl" />
        <add  src="~/Admin/Controls/ClientMgrNavigation.ascx" tagName="ClientMgrNav" tagPrefix="wl" />
      </controls>
    </pages>

    <globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" uiCulture="zh-CN" responseHeaderEncoding="gb2312" fileEncoding="gb2312" />
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<httpHandlers>
      <add path="/Client/*.aspx" type="Backend.Authorization.AuthorizationHandlerFactory, Backend" verb="*"/>
			<add path="/Admin/Utilities/VerifyCode.aspx" type="Backend.Utilities.VerifyCodeHelper, Backend" verb="*"/>     
      <add path="/Admin/*/*.aspx" type="Backend.Authorization.RuleAuthorizationHandlerFactory, Backend" verb="*"/>
    
		</httpHandlers>
		<compilation debug="true"/>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"></customErrors>
	</system.web>
  <web.file.path>
    <photo localPath="E:\Projects\XiaoShanEMS\source\Web\Uploads\Photos\" defaultIcon="Default.jpg" httpPrefix="http://localhost:85/Uploads/Photos/"/>
    <!--<photo localPath="E:\XiaoShanEMS\source\Web\Uploads\Photos\" defaultIcon="Default.jpg" httpPrefix="http://localhost/Uploads/Photos/"/>-->
  </web.file.path>
	<web.authorization signInUrl="/Default.aspx" sessionName="WLClientSession"/>
	<web.ruleAuthorization signInUrl="/Admin/Default.aspx" accessDeniedUrl="/Admin/AccessDenied.htm" cookieName="WLAdminCookie">
		<!-- module id should be unique. -->
	<module id="0" name="公共页面 [ ------&gt; 是否允许登入后台系统对分配的相应功能模块进行操作 ]">
	  <page>/Admin/Main/Default.aspx</page>
	  <page>/Admin/Main/Welcome.aspx</page>
      <page>/Admin/Personal/Default.aspx</page>
      <page>/Admin/Personal/ChangePwd.aspx</page>
		</module>
    <module id="1" name="业务管理 [ ------&gt; 管理当前网点的业务，包括收件计划、审核、发件计划等 ]">
      <page>/Admin/Order/QuoteList.aspx</page>
      <page>/Admin/Order/CreateQuote.aspx</page>
      <page>/Admin/Order/CreateQuoteDetail.aspx</page>
      <page>/Admin/Order/Quote.aspx</page>
      <page>/Admin/Order/QuoteView.aspx</page>
      <page>/Admin/Order/QuoteDetail.aspx</page>
      <page>/Admin/Order/Default.aspx</page>
      <page>/Admin/Order/CreateReceiveOrder.aspx</page>
      <page>/Admin/Order/ReceiveOrder.aspx</page>
      <page>/Admin/Order/CreateOrderDetail.aspx</page>
      <page>/Admin/Order/ReceiveOrderDetail.aspx</page>
      <page>/Admin/Order/OrderDetailView.aspx</page>
      <page>/Admin/Order/CreateOrderQuick.aspx</page>
      <page>/Admin/Order/CarrierList.aspx</page>
      <page>/Admin/Order/CountryList.aspx</page>
      <page>/Admin/Order/OrderDetail.aspx</page>
      <page>/Admin/Order/FetchArrangeList.aspx</page>
      <page>/Admin/Order/FetchArrange.aspx</page>
      <page>/Admin/Order/CreateFetchArrange.aspx</page>
      <page>/Admin/Order/AuditOrder.aspx</page>
      <page>/Admin/Order/AuditOrderList.aspx</page>
      <page>/Admin/Order/DetainOrder.aspx</page>
      <page>/Admin/Order/DetainOrderList.aspx</page>
      <page>/Admin/Order/CheckOrder.aspx</page>
      <page>/Admin/Order/CheckOrderList.aspx</page>
      <page>/Admin/Order/CreatePostPlan.aspx</page>
      <page>/Admin/Order/PostPlanList.aspx</page>
      <page>/Admin/Order/PostPlan.aspx</page>
      <page>/Admin/Order/CreateInsurance.aspx</page>
    </module>
    <module id="2" name="收件检验 [ ------&gt; 检验当前网点的收件订单，可检验通过或退回审核 ]">      
      <page>/Admin/Order/CheckOrderView.aspx</page>
      <page>/Admin/Order/CheckOrder.aspx</page>
      <page>/Admin/Order/CheckOrderList.aspx</page>
      <page>/Admin/Order/OrderDetailView.aspx</page>
    </module>
		<module id="3" name="客户服务 [ ------&gt; 管理当前网点的客户，包括添加客户、查看问题件、客户投诉处理等 ]">
      <page>/Admin/Client/CreateWrongOrder.aspx</page>
      <page>/Admin/Client/WrongOrder.aspx</page>
      <page>/Admin/Client/CreateOrderDetail.aspx</page>
      <page>/Admin/Client/WrongOrderDetail.aspx</page>
      <page>/Admin/Client/ServiceTrack.aspx</page>
      <page>/Admin/Client/Default.aspx</page>
      <page>/Admin/Client/ClientList.aspx</page>
      <page>/Admin/Client/Client.aspx</page>
      <page>/Admin/Client/CreateClient.aspx</page>
      <page>/Admin/Client/ComplaintList.aspx</page>
      <page>/Admin/Client/Complaint.aspx</page>
      <page>/Admin/Client/MailSend.aspx</page>
      <page>/Admin/Client/LiabilityList.aspx</page>
      <page>/Admin/Client/LiabilityOrder.aspx</page>
      <page>/Admin/Client/CreateLiabilityOrder.aspx</page>
		</module>  		
    <module id="4" name="财务管理 [ ------&gt; 管理公司的收付款项，包括应收款、已收款、应付款、已付款等 ]">
      <page>/Admin/Finance/AlreadyDeducted.aspx</page>
      <page>/Admin/Finance/AlreadyDeductedView.aspx</page>
      <page>/Admin/Finance/Default.aspx</page>
      <page>/Admin/Finance/ShouldReceiveView.aspx</page>
      <page>/Admin/Finance/ReceivedDeducted.aspx</page>
      <page>/Admin/Finance/ReceivedDeductedView.aspx</page>
      <page>/Admin/Finance/ShouldPay.aspx</page>
      <page>/Admin/Finance/ShouldPayView.aspx</page>
      <page>/Admin/Finance/AlreadyPaid.aspx</page>      
      <page>/Admin/Finance/AlreadyReceived.aspx</page>
      <page>/Admin/Finance/CreateAlreadyReceived.aspx</page>
      <page>/Admin/Finance/AlreadyReceivedView.aspx</page>          
      <page>/Admin/Finance/CreateDailyCosts.aspx</page>
      <page>/Admin/Finance/DailyCosts.aspx</page>
      <page>/Admin/Finance/DailyCostView.aspx</page>
      <page>/Admin/Finance/AlreadyPaidView.aspx</page>
      </module>    	
		<module id="5" name="数据查询 [ ------&gt; 查询公司的各项信息，包括收发件、费用、服务、责任认定等 ]">
      <page>/Admin/DataQuery/Default.aspx</page>
      <page>/Admin/DataQuery/Quote.aspx</page>
      <page>/Admin/DataQuery/QuoteDetail.aspx</page>
      <page>/Admin/DataQuery/QuoteList.aspx</page>
      <page>/Admin/DataQuery/ReceiveOrderList.aspx</page>
      <page>/Admin/DataQuery/ReceiveOrder.aspx</page>
      <page>/Admin/DataQuery/ReceiveOrderDetail.aspx</page>
      <page>/Admin/DataQuery/ShouldReceiveList.aspx</page>
      <page>/Admin/DataQuery/ShouldReceive.aspx</page>
      <page>/Admin/DataQuery/ServiceList.aspx</page>
      <page>/Admin/DataQuery/Service.aspx</page>
      <page>/Admin/DataQuery/ServiceDetail.aspx</page>
      <page>/Admin/DataQuery/InsuranceList.aspx</page>
      <page>/Admin/DataQuery/Insurance.aspx</page>
      <page>/Admin/DataQuery/OrderList.aspx</page>
      <page>/Admin/DataQuery/Order.aspx</page>
      <page>/Admin/DataQuery/OrderDetail.aspx</page>
      <page>/Admin/DataQuery/LiabilityList.aspx</page>
      <page>/Admin/DataQuery/Liability.aspx</page>
    </module>
		<module id="6" name="统计分析 [ ------&gt; 统计公司的各项信息，包括收件、考核、提成、收款、销售排行等 ]">
      <page>/Admin/Statistic/Default.aspx</page>
      <page>/Admin/Statistic/SalesList.aspx</page>
      <page>/Admin/Statistic/AssessReport.aspx</page>
      <page>/Admin/Statistic/CommisionReport.aspx</page>
      <page>/Admin/Statistic/ShouldReceiveReport.aspx</page>
      <page>/Admin/Statistic/AlreadyReceivedReport.aspx</page>
      <page>/Admin/Statistic/ClientStatistics.aspx</page>
		</module>
    <module id="7" name="员工管理 [ ------&gt; 查看当前网点的员工的基本信息，包括添加员工、查看员工信息 ]">
      <page>/Admin/User/Default.aspx</page>
      <page>/Admin/User/User.aspx</page>
      <page>/Admin/User/Create.aspx</page>
    </module>
    <module id="8" name="公司设置 [ ------&gt; 设定当前公司相关信息，包括部门、员工、客户、仓库信息、收款账号等 ]">
      <page>/Admin/CompanySetting/Default.aspx</page>
      <page>/Admin/CompanySetting/DepartmentList.aspx</page>
      <page>/Admin/CompanySetting/CreateDepartment.aspx</page>
      <page>/Admin/CompanySetting/PositionList.aspx</page>
      <page>/Admin/CompanySetting/CreatePosition.aspx</page>
      <page>/Admin/CompanySetting/PositionOperator.aspx</page>
      <page>/Admin/CompanySetting/UserList.aspx</page>
      <page>/Admin/CompanySetting/User.aspx</page>
      <page>/Admin/CompanySetting/CreateUser.aspx</page>
      <page>/Admin/CompanySetting/ChangePwd.aspx</page>
      <page>/Admin/CompanySetting/UserOpreator.aspx</page>
      <page>/Admin/CompanySetting/ClientList.aspx</page>
      <page>/Admin/CompanySetting/CreateClient.aspx</page>
      <page>/Admin/CompanySetting/Client.aspx</page>
      <page>/Admin/CompanySetting/ChangeClientPwd.aspx</page>
      <page>/Admin/CompanySetting/AlreadyReceived.aspx</page>
      <page>/Admin/CompanySetting/PaymentMethodList.aspx</page>
      <page>/Admin/CompanySetting/AccountList.aspx</page>
      <page>/Admin/CompanySetting/Account.aspx</page>
      <page>/Admin/CompanySetting/CreateAccount.aspx</page>
      <page>/Admin/CompanySetting/DepotList.aspx</page>
      <page>/Admin/CompanySetting/Depot.aspx</page>
      <page>/Admin/CompanySetting/CreateDepot.aspx</page>
      <page>/Admin/CompanySetting/QuoteList.aspx</page>
      <page>/Admin/CompanySetting/CreateQuote.aspx</page>
      <page>/Admin/CompanySetting/CreateQuoteDetail.aspx</page>
      <page>/Admin/CompanySetting/Quote.aspx</page>
      <page>/Admin/CompanySetting/QuoteDetail.aspx</page>
      </module>
		<module id="9" name="物流设置 [ ------&gt; 设定物流相关信息，包括公司、承运商、国家、收费标准、结算方式等 ]">
      <page>/Admin/PostSetting/Default.aspx</page>
      <page>/Admin/PostSetting/CreateCompany.aspx</page>
      <page>/Admin/PostSetting/CreateUser.aspx</page>
      <page>/Admin/PostSetting/Company.aspx</page>      
      <page>/Admin/PostSetting/CompanyOperator.aspx</page>
      <page>/Admin/PostSetting/UserList.aspx</page>
      <page>/Admin/PostSetting/User.aspx</page>
      <page>/Admin/PostSetting/ChangePwd.aspx</page>
      <page>/Admin/PostSetting/UserOpreator.aspx</page>
      <page>/Admin/PostSetting/CarrierList.aspx</page>
      <page>/Admin/PostSetting/CreateCarrier.aspx</page>
      <page>/Admin/PostSetting/Carrier.aspx</page>
      <page>/Admin/PostSetting/CarrierAreaList.aspx</page>
      <page>/Admin/PostSetting/CountryList.aspx</page>
      <page>/Admin/PostSetting/CreateCountry.aspx</page>
      <page>/Admin/PostSetting/Country.aspx</page>
      <page>/Admin/PostSetting/AreaList.aspx</page>
      <page>/Admin/PostSetting/CreateArea.aspx</page>
      <page>/Admin/PostSetting/Area.aspx</page>
      <page>/Admin/PostSetting/AreaCountryList.aspx</page>
      <page>/Admin/PostSetting/AreaCountry.aspx</page>
      <page>/Admin/PostSetting/ChargeStandardList.aspx</page>
      <page>/Admin/PostSetting/ChargeStandard.aspx</page>
      <page>/Admin/PostSetting/CalculateTypeList.aspx</page>
      <page>/Admin/PostSetting/CostTypeList.aspx</page>
      <page>/Admin/PostSetting/MailSend.aspx</page>
		</module>
    <module id="10" name="网站管理 [ ------&gt; 设置网站前台展示的相关信息,包括新闻、公告、快递相关信息、联系方式等 ]">
      <page>/Admin/WebSetting/Default.aspx</page>
      <page>/Admin/WebSetting/SwitchImage.aspx</page>
      <page>/Admin/News/Default.aspx</page>
      <page>/Admin/News/NewsList.aspx</page>
      <page>/Admin/News/Create.aspx</page>
      <page>/Admin/News/Edit.aspx</page>
      <page>/Admin/News/NewsView.aspx</page>
    </module>
	</web.ruleAuthorization>
</configuration>
